// My Variables

/* ---------------------------------------------------------- 
    breakpoint ( max-width )
 ---------------------------------------------------------- */

$col-small: 540px;
$col-medium: 720px;
$col-large: 960px;

/* ---------------------------------------------------------- 
    colors palette
 ---------------------------------------------------------- */

$brand-1: #025f63;
$brand-2: #ff8283;
$blue: #084b83;
$green: #127039;
$yellow: #c2b542;
$orange: #e58f65;
$red: #d05353;
$gray: #88a0a8;
$dark: #111111;
$light: #f5f5f5;

$primary: $brand-1;
$secondary: $brand-2;
$success: $green;
$warning: $yellow;
$error: $red;

$color-palette: (
  primary: $brand-1,
  secondary: $brand-2,
  success: $green,
  warning: $yellow,
  error: $red,
  dark: $dark,
  light: $light,
  gray: $gray,
) !default;

$dark-palette: (
  primary: lighten($brand-1, 5%),
  secondary: lighten($brand-2, 5%),
  success: lighten($green, 5%),
  warning: lighten($yellow, 5%),
  error: lighten($red, 5%),
  dark: lighten($dark, 5%),
  light: lighten($light, 5%),
  gray: lighten($gray, 5%),
) !default;

$gray-100: #f2f3f4;
$gray-200: #e3e3e6;
$gray-300: #c6c8ce;
$gray-400: #aaacb5;
$gray-500: #8e909d;
$gray-600: #727583;
$gray-700: #5a5c67;
$gray-800: #353340;
$gray-900: #292634;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900,
) !default;

/* ---------------------------------------------------------- 
    Typography
 ---------------------------------------------------------- */
$text-base: 1rem;

$text-sizes: (
  'xs': $text-base * 0.75,
  'sm': $text-base * 0.875,
  'md': $text-base,
  'lg': $text-base * 1.25,
  'xl': $text-base * 1.5,
  '2xl': $text-base * 1.75,
  '3xl': $text-base * 2,
) !default;

$headings: (
  1: $text-base * 3.5,
  2: $text-base * 3,
  3: $text-base * 2.5,
  4: $text-base * 2,
  5: $text-base * 1.5,
  6: $text-base * 1,
) !default;

$font-weight: (
  'thin': 100,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'bold': 600,
  'extrabold': 700,
) !default;

/* ---------------------------------------------------------- 
    Grid
 ---------------------------------------------------------- */

$col-count: 12 !default;
$gutter-size: 1rem !default;

/* ---------------------------------------------------------- 
    Buttons
 ---------------------------------------------------------- */
$btn-padding-xs: 0.75rem 2rem;
$btn-padding-sm: 0.825rem 2rem;
$btn-padding-md: 1rem 2rem;
$btn-padding-lg: 1.25rem 2rem;
$btn-padding-xl: 1.5rem 2rem;

$btn-border-width: 1px;
