// Buttons
%btn {
  display: inline-block;
  border-style: solid;
  appearance: none;
  box-shadow: none;
  box-sizing: border-box;
  line-height: normal;
  border-color: transparent;
  border-width: $btn-border-width;
  font-size: $text-base;
  transition: background 0.2s ease;
  cursor: pointer
}

// bg,border,invert-color & hover,focus
@mixin button-theme($color-palette) {
  @each $name, $color in $color-palette {
    &-#{$name} {
      background-color: #{$color};
      border-color: #{$color};
      @include color-invert($color);

      &:hover,
      &:focus {
        background-color: lighten($color, 3%);
      }
      &:active {
        background-color: darken($color, 3%);
      }
    }
  }
}

// Button xs, sm, md, lg, xl

// Button Outline

// Button Tertiery



.btn {
  @extend %btn;
  @include button-theme($color-palette);
}