@use "sass:color";

:root {
    @each $name, $value in $color-palette{
        --#{$name}: #{$value};      
    }
}

$color-property: (
  bg: background-color,
  color: color,
  border: border-color
);

// bg, border, color Classes
@each $name, $value in $color-palette {
  @each $selector, $property in $color-property {
    .#{$selector}-#{$name} {
      #{$property}: $value;
      
      @if $selector == 'bg' {
        @include color-invert($value)
      }
    }
  }
}

// hex to RGB (값이 필요할때~)
// @function hexToRGB($hex, $alpha) {
//   @return 'rgba(' + color.red($hex), color.green($hex), color.blue($hex), $alpha + ')';
// }
// 값 입력시
// div {
//   background-color: #{hexToRGB($black, 0.5)};
// }

/* ------------------- colors shade ------------------- */


/* ------------------- colors mixin ------------------- */
