.container {
  width: 100%;
  padding: 0 $gutter-size;
  @include margin-auto;

  // max-widths
  @include screen-up('small') {
    max-width: $col-small;
  }
  @include screen-up('medium') {
    max-width: $col-medium;
  }
  @include screen-up('large') {
    max-width: $col-large;
  }

  &-sm {
    max-width: $col-small;
  }
  &-md {
    max-width: $col-medium;
  }
  &-lg {
    max-width: $col-large;
  }
}
